#card {
  border: 1px solid darkgray;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

img {
  width: 50px;
  height: 50px;
}

 #info {
   display: flex;
   flex-direction: column;
   margin-left: 10px;
 }

#name {
  font-size: 1.1em;
  font-weight: bold;
  color: lightseagreen;
}

#age, #favoriteComfyPlace {
  font-size: 0.9em;
  color: rgb(71, 68, 68);
}